<section class="navbar">
  <ul class="navbar-ul">
    <li>
      <select name="city-select" id="city-select">
        <option value="Vaaler">V책ler</option>
        <option value="Vaaler">V책ler</option>
        <option value="Vaaler">V책ler</option>
        <option value="Vaaler">V책ler</option>
      </select>
    </li>
    <li>Street</li>
    <li>info</li>
    <li>Hall Of Fame</li>
  </ul>
</section>
