<%- include ('partials/header') %> 
  <body>
    <%- include ('partials/mainLogo') %>
    <div id="game-window">
      <div class="game-body">
        <section class="navbar">
          <ul>
            <li><a href="vaaler">Travel</a></li>
            <li>Street</li>
          </ul>
        </section>
      </div>
    </div>
  </body>
</html>
