<%- include('partials/header') %>
<body>
    <%- include ('partials/mainLogo') %>
    <div id="game-window">
      <div class="game-body">
          <div class="register">
          <form action="/newUser" method="POST" id="new-user">
            <input type="text" name="userName" id="userName" placeholder="User Name">
            <button id="register-btn">Create</button>
          </form>
        </div>
      </div>
    </div>
</body>
</html>
