<%- include('partials/header') %>
<body>
    <%- include ('partials/mainLogo') %>
    <div id="game-window">
      <div class="game-body">
<%-include('partials/create-game-name')  %> 
      </div>
    </div>
</body>
</html>
