<%- include('partials/header') %>
<body>
    <%- include ('partials/mainLogo') %>
    <div id="game-window">
      <div class="game-body">
    <h1>test</h1>
        
      </div>
    </div>
</body>
</html>
