<%- include('partials/header') %>
<body>
    <%- include ('partials/mainLogo') %>
    <div id="game-window">
      <div class="game-body">
<%- include('partials/navbar')  %> 
      </div>
    </div>
</body>
</html>
