* {
  padding: 0%;
  margin: 0%;
}
.logo {
  padding: 5px;
}
#game-window {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.game-body {
  width: 50vw;
  height: 70vh;
  /* border: 1px solid red; */
}
.register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
::placeholder {
  color: beige;
  text-align: center;
}
#userName {
  width: 10rem;
  height: 2rem;
  background-color: rgb(203, 202, 202);
  border-radius: 5px;
  border: 0;
  color: beige;
}
#new-user {
  display: flex;
  flex-direction: column;
}
#userName {
  border: 1px solid rgb(85, 84, 84);
  margin: 4px;
}
#register-btn {
  padding: 0.5rem;
}
.create-game-name {
  width: 50vw;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  /*   border: 1px solid blue; */
  height: 5rem;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}
.navbar-ul {
  /* border: 1px solid magenta; */
  width: 100%;
  height: 4rem;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
#city-select {
  border-style: none;
  font-family: "Montserrat", sans-serif;
}
.navbar-ul li {
  border: 1px solid grey;
  width: 7rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 480px) {
  .game-body {
    width: 95vw;
    height: 100vh;
  }
}
