* {
  padding: 0%;
  margin: 0%;
}
.logo {
  padding: 5px;
}
#game-window {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.game-body {
  width: 50vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
.register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
::placeholder {
  color: beige;
  text-align: center;
}
#userName {
  width: 10rem;
  height: 2rem;
  background-color: rgb(203, 202, 202);
  border-radius: 5px;
  border: 0;
  color: beige;
}
#new-user {
  display: flex;
  flex-direction: column;
}
#register-btn {
  margin: 1rem;
  padding: 0.5rem;
}

.navbar {
  display: flex;
  flex-direction: row;
}
